<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">
<head>
<title th:text="#{start_page}"></title>
</head>
<body>
	<div layout:fragment="content" class="row">
		<div class="col-xs-8 col-md-8">
			<div th:if="${param.logout}">
				<h1 style="color: blue">Logged out.</h1>
			</div>
			<h3>
				<a th:href="@{/register}" class="btn btn-primary"><span
					class="glyphicon glyphicon-plus-sign"></span><span
					th:text="#{register}"></span></a>
			</h3>
			<!--
			<h3>
				<a href="@{/login}" class="btn btn-primary"><span
					class="glyphicon glyphicon-plus-sign"></span>Login</a>
			</h3>
			-->
			<h3>
				<a th:href="@{/welcome}" class="btn btn-primary"><span
					class="glyphicon glyphicon-plus-sign" th:text="#{sign_in}"></span></a>
			</h3>
			<h2 th:text="#{all_users_list}"></h2>
			<div class="table-responsive">
				<table class="table" id="users-table">
					<thead>
						<tr>
							<th><p th:text="#{username}"></p></th>
							<th><p th:text="#{password}"></p></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.username}"></td>
							<td th:text="${user.password}"></td>
							<td><a th:href="${'users/edit/' + user.user_id}">Edit</a> <a
								th:href="${'users/delete/' + user.user_id}">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br/>- - - Generated code - - -<br/>
	<div th:text="${regCode}">
	</div>
	<br />
	<br />
	<br /> Language :
	<a href="?language=en">English</a> |
	<a href="?language=pl">Polski</a>
</body>
</html>