<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">
<head>
<title>Welcome</title>
</head>
<body>
	<h3 style="position: center" th:text="#{welcome_to_main_page}"></h3>
	<div>
		<p th:text="#{logged_in_user}"></p>
		<b th:inline="text" class="user">
			[[${#httpServletRequest.remoteUser}]] </b>
		<form th:action="@{/logout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>
	<br />
	<table>
		<tr th:each="article : ${userArticles}">
			<td th:text="${article.articleId}">Id</td>
			<td th:text="${article.title}">Title</td>
			<td th:text="${article.category}">Category</td>
		</tr>
	</table>
	<form th:action="@{/send_email}" method="POST">
		<p th:text="#{send_email}"></p>
		<input type="submit" value="Send" />
	</form>
</body>
</html>